# NB:
# - For the "cluster" label, use a value that identifies your Kubernetes cluster.

vector:
  role: Agent
  logLevel: info

  customConfig:
    data_dir: /vector-data-dir
    healthchecks:
      enabled: true
      require_healthy: true
    api:
      enabled: true
      address: 127.0.0.1:8686
      playground: false

    # https://vector.dev/docs/reference/configuration/sources/kubernetes_logs/
    sources:
      sky_logs:
        type: kubernetes_logs

    # https://vector.dev/docs/reference/configuration/sinks/loki/
    sinks:
      sky_loki:
        type: loki
        inputs:
          - sky_logs
        endpoint: http://loki-gateway.loki.svc.cluster.local
        path: /loki/api/v1/push
        remove_timestamp: false
        out_of_order_action: accept
        acknowledgements:
          enabled: true
        batch:
          max_bytes: 1048576  # 1MB
          max_events: 1000
          timeout_secs: 5
        buffer:
          type: disk
          max_size: 268435488 # 256 MB
        compression: snappy
        encoding:
          codec: json
        labels:
          # https://vector.dev/docs/reference/configuration/sinks/loki/#label-expansion
          pod: "{{`{{ kubernetes.pod_name }}`}}"
          namespace: "{{`{{ kubernetes.pod_namespace }}`}}"
          container: "{{`{{ kubernetes.container_name }}`}}"
          node: "{{`{{ kubernetes.pod_node_name }}`}}"
          cluster: REPLACE_ME

  service:
    enabled: true
    ports:
      - name: api
        port: 8686
        protocol: TCP
        targetPort: 8686
      - name: statsd
        port: 8000
        protocol: TCP
        targetPort: 8000
